<!-- About Section -->
    <section id="machine-learning" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Machine Learning</h2>
                 </div>
                 <div class="col-lg-12 text-align">
                    <div class="section-subheading" style="font-size: 20px;">
                        <div class=company-description style="text-align;">Immer mehr Prozesse in immer mehr Kontexten liefern Daten, die Struktur und damit Wert enthalten. Diese Daten bilden zunehmend einen wesentlichen Anteil des Kapitals vieler Firmen und Institutionen. Sie zu nützlicher und wertschaffender Anwendung zu bringen ist die Aufgabe von Kontingenz. <br><br>
                        Eine Klasse von Datenverarbeitungsverfahren, die selbstlernend relevante von unwesentlicher Information für eine vorhandene Fragestellung unterscheidet und Muster in Daten entdecken kann, die für den menschlichen Betrachter ob der Fülle der Daten verborgen bleiben, hat sich bei der Nutzbarmachung von Daten als außerordentlich erfolgreich herausgestellt. Diese sogenannten Machine Learning Verfahren lernen ähnlich wie Menschen aus Beispielen, nur haben sie ein besseres Gedächtnis und sind viel geduldiger — sie betrachten auch noch das millionste Beispiel mit der gleichen Sorgfalt wie das erste. Dadurch können sie auch komplexe und überraschende Struktur ausfindig machen. Und genauso wie ein Mensch sich im Prinzip jedes Thema aneignen kann, sind diese Verfahren themen- und branchenübergreifend zum Einsatz zu bringen. <br><br>
                        Manche Menschen sind talentierter im Lernen bestimmter Themenfelder als andere. Das gleiche gilt auch für Machine Learning Verfahren. Kontingenz hilft unseren Kunden dabei, das richtige Verfahren auszuwählen — dabei bringen wir tiefes Verständnis für die Wirkmechanismen und Wissen über den aktuelle Forschungsstand mit, so dass das tatsächlich geeignetste Verfahren für die Fragestellung zum Einsatz kommt.  <br><br>
                        Wir arbeiten mit unseren Kunden in offener Kommunikation zusammen und machen uns ihre Sachexpertise zunutze, um zu verstehen, wie die vorhandenen Daten entstehen, welche weiteren Daten über den Status Quo hinaus erhoben werden können und wie aus der Kombination von Datenquellen zusätzlicher Wert geschaffen werden kann. Deshalb können wir mit einem kleinen, agilen Team robuste und komplexe Systeme erstellen, die weit über die Standardangebote am Markt hinausgehen.
                        </div>
               </div>
            </div>
        </div>
    </section>
