<!-- About Section -->
    <section id="software-engineering">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Software Entwicklung</h2>
                </div>
                <div class="col-lg-12 text-align">
                    <div class="section-subheading" style="font-size: 20px;">
                        <div class=company-description>Wir verstehen, dass es nicht ausreicht, Vorhersage- und Analysesysteme zu liefern, die Prototypen oder Blaupausen sind. Wir entwickeln Computersysteme, die mit einer Kombination aus fortschrittlichsten und branchenweit bewährten Standards und Methoden so robust gestaltet sind, dass sie auch langfristig zuverlässig eingesetzt werden können und sich an wechselnde Umweltbedingungen automatisch anpassen. <br><br>
Gleichzeitig wissen wir, dass verschiedene Branchen und Produktionsmethoden ganz erheblich unterschiedliche Anforderungen an Sicherheit, Geschwindigkeit und Infrastruktur stellen. Wir liefern auch in dieser Hinsicht exakt auf die Bedürfnisse unserer Kunden zugeschnittene Systeme.
                        </div>
                </div>
            </div>
        </div>
    </section>
